@charset "utf-8";
/* CSS Document */

#login_aa {
	background-image: url(../images/skulls.png);
	width: 430px;
	height: 195px;
	margin-right: auto;
	margin-left: auto;
	padding: 25px;
	background-position: center bottom;
	margin-top: 60px;
}
#login_aa fieldset
{
	margin: auto;
	text-transform: capitalize;
	font-family: Verdana, Geneva, sans-serif;	
}#login_aa fieldset form ul li {
	list-style-type: none;
	margin-bottom: 5px;
	azimuth: behind;

}
#login_aa fieldset form ul li label {
	float: left;
	clear: left;
	width: 92px;
	text-align: right;
	margin-right: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 10px;
	color: #777;
	font-weight: bold;
}
#login_aa fieldset form ul li input {
	float: ;
	margin-bottom: 0px;
	width: 230px;
	height: 30px;
	background-image: url(../admin/img/input.gif);
	border-radius: 6px 6px 6px 6px;
	padding-left: 5px;
	background-repeat: repeat;
}
#submit     {
	width: 100px;
	height: 30px;
	margin-left: 93px;
	border-radius: 6px;
	background-color: #EEE;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006;
	

}
#log_ss {
	height: 633px;
	width: 1330px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/Background3.png);
}
header {
	height: 130px;
	width: 1330px;
	background-image: url(../images/prj2.png);
}
#log_ss footer {
	height: 30px;
	width: 1330px;
	margin-right: auto;
	margin-left: auto;
	background-color: #CCCCCC;
	text-align: center;
	margin-top: 166px;
}
#log_ss footer nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
#log_ss #menu {
	height: 50px;
	width: 1330px;
	float: left;
}

#sss {
	margin-top: 4px;
	margin-left: 4px;
}